* 
{
	box-sizing: border-box;
  }

ol
{
	float: left;
}

li
{
	color: orange;
	margin-bottom: 10px;
}

h2
{
	color: orange;
	text-decoration: underline;
	text-decoration-style: wavy;
}

button
{
	box-shadow: 3px 4px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:15px;
	border:1px solid #18ab29;
}

Button:hover {
	background:linear-gradient(to bottom, #a6a62b 5%, #f0e518 100%);
	background-color:#a6a62b;
}

.column 
{
	float: left;
	padding: 10px;
  }

.column.search
{
	border: 5px inset blue;
	width: 25%;
}

.column.addItems
{
	background: radial-gradient(circle, rgba(165,168,182,1) 0%, rgba(255,255,255,1) 100%);
	display: grid;
  	grid-template-columns: auto auto auto;
	width: 50%;
}

.column.cart
{
	border: 5px groove yellow;
	width: 25%;
}

#searchIn
{
	grid-column: 1/2;
	grid-row: 1;
	margin-bottom: 40px;
}

.searchButton
{
	grid-column: 3;
	grid-row: 1;
	margin-bottom: 40px;
}

.itemLabel
{
	grid-column: 1/2;
	grid-row: 2;
	margin-bottom: 20px;
}

#itemNum
{
	grid-column: 3;
	grid-row: 2;
	margin-bottom: 20px;
}

.quantityLabel
{
	grid-column: 1/2;
	grid-row: 3;
	margin-bottom: 40px;
}

#quantity
{
	grid-column: 3;
	grid-row: 3;
	margin-bottom: 40px;
}

.showButton
{
	grid-column: 2;
	grid-row: 4;
}
